* { margin: 0; box-sizing: border-box; } 
  <style>
        style1 {
            margin: 0 auto;
            border: 1px solid #bbb;
            padding: 5px;
            background-color: #eee;
            line-height: 1.5em;
        }

    </style>

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family:28;
    color:burlywood;
}

h1 {
    font-size:44;
    color:blueviolet;
}

h2 {
    font-size: 40;
    text-align: center;
    border-bottom: 1px solid #bbb;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width;
}

header, footer, footer a {
    text-align: center;
    background-color:aqua;
    color: whitesmoke;
}

header img {
    width:300px;
    height: auto;
    float: right;
}

footer {
    font-size:36;
}
