@media only screen and (min-width: 37.5em) {
    /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */
    header,
    nav {
        margin: 0 auto;
    }
    h1 {
        text-align: center;
    }
    .hamburger {
        display: none;
    }
    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 10px;
        background-color: #6c4ddb;
        overflow: hidden;
        text-align: center;
    }
    .navigation li {
        display: block;
        margin-left: .25rem;
    }
    .navigation a {
        color: #eee;
        padding: 1rem;
        text-align: center;
        text-decoration: none;
    }
    .navigation a:hover {
        color: #000;
        background-color: #ddd;
    }
    .section1 {
        display: flex;
        flex-direction: row;
    }
    figure img {
        width: 300px;
    }

    .section1 figure {
        width: 50%;
    }

    .section1 section {
        width: 50%;
    }

    .current {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
    }

    .current img {
        margin-top: 20px;
    }

    .highlow {
        display: flex;
        flex-direction: column;
        line-height: 0;
        align-items: flex-end;
        margin-right: 55px;
        margin-top: -35px;
    }

    .conditions {
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 0;
    }

    .forecast {
        display: block;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th,
    td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2
    }

    .articlediv {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 5px;
    }

    article p {
        width: 50%;
    }

    article img {
        width: 50%;
    }
    .grid-container {
        display: grid;
        grid-template-columns: 50% 50%;
    }
}
