@media only screen and (min-width: 64em) {
    /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
    body {
        width: 70%;
        text-align: center;
        padding-left: 15%;
        padding-right: 15%;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 34% 34% 34%;
    }

    .wrapper {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: [col1-start] 324px [col2-start] 300px [col3-start] 300px [col3-end];
        grid-template-rows: [row1-start] 400px [row2-start] 400px [row2-end];
        background-color: #fff;
        color: #444;
    }
}
