 @import url('https://fonts.googleapis.com/css?family=Ubuntu');

table {
  border-collapse: collapse;
    font-family: 'Ubuntu', sans-serif;
}
table, th, td {
 border: 1px solid grey;
}


thead tr:nth-child(1) th{
background-color:#628ca6;
}
thead tr:nth-child(2) th{
    background-color:dodgerblue;
}

#tableTitle{
    background-color: aqua;
}

.alternate {
    background-color: coral;
}
tbody tr:nth-child(odd) td{
    background-color: lightgrey;
}
.blacks{
 border-right-style: none;
    text-align: center;
}
.reds{
    background-color:cornflowerblue;
;
}
tfoot {
    background-color:#628ca6;
}
